.summoner-card {
  padding: 0 10px;
  min-height: 170px;
  margin-bottom: 20px;
  background: var(--theme-blue-secondary);
}

.summoner-card__header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summoner-card__header >
.summoner-card__header__title {
  color: var(--theme-success);
  font-size: var(--theme-font-sm);
}

.summoner-card__header >
.summoner-card__header__status {
  color: #666;
  height: 20px;
  display: flex;
  padding: 0 10px;
  margin-top: 3px;
  font-weight: 600;
  border-radius: 10px;
  align-items: center;
  background: #4fffa7;
  justify-content: center;
  font-size: var(--theme-font-xs);
}

.summoner-card__body {}
.summoner-card__body__account {
  padding: 10px 0;
  font-weight: bold;
  color: var(--theme-grey-primary);
  font-size: var(--theme-font-sm);
}

.summoner-card__footer {}
