/*
-------------------------------------------------
| Card
-------------------------------------------------
*/

.card {
  padding: 30px;
  min-height: 170px;
  margin-bottom: 40px;
  border-radius: 25px;
  background: var(--theme-blue-secondary);
}

.card--won {
  color: var(--theme-success);
  animation: card-glow 1s infinite alternate;
}

.card--lost {
  color: var(--theme-error);
}

.card > section {
  margin-bottom: 10px;
}

@keyframes card-glow {
  from {
    box-shadow: 5px 3px 33px 2px rgba(140, 255, 161, 0.8)
  } to {
    box-shadow: 4px 2px 34px -6px rgba(140, 255, 161, 0.8)
  }
}

/*
-------------------------------------------------
| Card Header
-------------------------------------------------
*/

.card__header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header__title { font-size: var(--theme-font-sm); }
.card--won
.card__header__title { color: var(--theme-success); }
.card--lost
.card__header__title { color: var(--theme-error); }

.card__header__status {
  height: 20px;
  display: flex;
  padding: 0 10px;
  margin-top: 3px;
  font-weight: 600;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background: var(--theme-success);
  font-size: var(--theme-font-xs);
  color: var(--theme-blue-secondary);
}

.card--won
.card__header__status { background: var(--theme-success); }
.card--lost
.card__header__status { background: var(--theme-error); }

/*
-------------------------------------------------
| Card Body
-------------------------------------------------
*/

.card__body__account {
  font-weight: bold;
  color: var(--theme-grey-primary);
  font-size: var(--theme-font-sm);
}

.card__body__stats {
  display: flex;
}

.card__body__stats p {
  padding: 5px 0;
}

.card__body__stats div {
  padding: 10px 0;
  margin-right: 20px;
  font-size: var(--theme-font-sm);
  color: var(--theme-grey-primary);
}

/*
-------------------------------------------------
| Card Footer
-------------------------------------------------
*/

.card__footer {
  display: flex;
}

.card__footer ul {
  line-height: 1.5;
  border-right: none;
  border-left: none;
  margin: 10px 0;
  padding: 10px 0;
}

.card__footer li {
  font-size: var(--theme-font-sm);
  color: var(--theme-grey-primary);
  list-style: none;
}

.card__footer p {
  font-size: var(--theme-font-md);
  color: var(--theme-grey-primary);
}

.card__footer__spells,
.card__footer__items {
  min-height: 75px;
  flex-basis: 100%;
  flex-wrap: wrap;
}
