.app__title {
  font-size: 26px;
  font-weight: 600;
  background: var(--theme-blue-secondary);
  color: #DB2B44;
  text-align: center;
  padding: 30px 0;
}

.app__content {
  padding: 30px 20px;
  margin: auto;
  max-width: 500px;
}
