/*
-------------------------------------------------
| Variables
-------------------------------------------------
*/
:root {
  /* theme palette */
  --theme-blue-primary: #1E2733;
  --theme-blue-secondary: #273243;
  --theme-grey-primary: #E5E5E5;
  --theme-success: #7FF1A5;
  --theme-error: #FF8E8E;

  /* theme font sizes */
  --theme-font-xs: 8px;
  --theme-font-sm: 10px;
  --theme-font-md: 12px;
  --theme-font-lg: 14px;
  --theme-font-xl: 16px;
}

/*
-------------------------------------------------
| Main
-------------------------------------------------
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--theme-blue-primary)
}
