.app .app__title {
  font-size: 26px;
  font-weight: 600;
  color: var(--theme-grey-primary);
  text-align: center;
  padding: 20px 25px;
}

.app .app__content {
  padding: 20px;
  margin: auto;
  max-width: 1000px;
}
